.authorization {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    align-items: center;
    background-color: white;
    border-radius:35%;
    padding: 3vw;
    align-items: center;
    justify-content: center;
    border: 0.2vw solid rgb(233, 74, 193);
}
.authorization__header {
    font-size: 2vw;
    font-weight: 700;
}
input {
    margin: 1vw 2vw;
}
.navbar__logo{
    cursor: pointer;
}

@media screen and (max-width: 768px) { 
    .authorization {
        width: 70vw;
        height: 60vh;
    }
    .authorization__header {
        font-size: 6vw;
        font-weight: 1000;
    }
}
@media screen and (max-width: 560px) {
    .authorization {
        margin-top:5vw;
        width: 90vw;
        height: 70vh;
    }
    .authorization__header {
        font-size: 10vw;
        font-weight: 1000;
    }
}

@media screen and (max-width: 425px) {



}