.profile_background {
    margin-top: -1vw;
    min-height: 100%;   
    width: 100%;
    height: auto;
    position: fixed;
    height:max-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 255, 255, 0.63);
}
.text {
    text-align: center;
    color: red;
}