.profile_background {
    margin-top: -1vw;
    width: 100%;
    height: auto;
    background-color: rgba(0, 255, 255, 0.63);
}
.text {
    text-align: center;
    color: red;
}
.shakal {
    margin-top: -1vw;
    min-height: 100%;   
    width: 100%;
    height: auto;
    position: fixed;
    height:max-content;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: shakal 30s ease-in-out infinite;
}
@keyframes shakal {
    0%   {background-image: url(../assets/img/special_shakal/1.jpg);}
    10%  {background-image: url(../assets/img/special_shakal/1.jpg);}
    20%  {background-image: url(../assets/img/special_shakal/2.jpg);}
    30%  {background-image: url(../assets/img/special_shakal/2.jpg);}
    40%  {background-image: url(../assets/img/special_shakal/3.jpg);}
    50%  {background-image: url(../assets/img/special_shakal/3.jpg);}
    60% {background-image: url(../assets/img/special_shakal/4.jpg);}
    70% {background-image: url(../assets/img/special_shakal/4.jpg);}
    80% {background-image: url(../assets/img/special_shakal/5.jpg);}
    90% {background-image: url(../assets/img/special_shakal/5.jpg);}
    100% {background-image: url(../assets/img/special_shakal/1.jpg);}
}

@media screen and (max-width: 768px) {
    @keyframes shakal {
        0%   {background-image: url(../assets/img/special_shakal/6.jpg);}
        10%  {background-image: url(../assets/img/special_shakal/6.jpg);}
        20%  {background-image: url(../assets/img/special_shakal/7.jpg);}
        30%  {background-image: url(../assets/img/special_shakal/7.jpg);}
        40%  {background-image: url(../assets/img/special_shakal/8.jpg);}
        50%  {background-image: url(../assets/img/special_shakal/8.jpg);}
        60% {background-image: url(../assets/img/special_shakal/9.jpg);}
        70% {background-image: url(../assets/img/special_shakal/9.jpg);}
        80% {background-image: url(../assets/img/special_shakal/10.jpg);}
        90% {background-image: url(../assets/img/special_shakal/10.jpg);}
        100% {background-image: url(../assets/img/special_shakal/6.jpg);}
    }
 }

 @media screen and (max-width: 560px) { 
    @keyframes shakal {
        0%   {background-image: url(../assets/img/special_shakal/6.jpg);}
        10%  {background-image: url(../assets/img/special_shakal/6.jpg);}
        20%  {background-image: url(../assets/img/special_shakal/7.jpg);}
        30%  {background-image: url(../assets/img/special_shakal/7.jpg);}
        40%  {background-image: url(../assets/img/special_shakal/8.jpg);}
        50%  {background-image: url(../assets/img/special_shakal/8.jpg);}
        60% {background-image: url(../assets/img/special_shakal/9.jpg);}
        70% {background-image: url(../assets/img/special_shakal/9.jpg);}
        80% {background-image: url(../assets/img/special_shakal/10.jpg);}
        90% {background-image: url(../assets/img/special_shakal/10.jpg);}
        100% {background-image: url(../assets/img/special_shakal/6.jpg);}
    }
 }

