input{
    border: none;
    border-bottom: red solid 0.3vw;
    box-shadow: 0 0 0px 1000px white inset;
    width: 100%;
    height: 2vw;
    font-size: 1vw;
    text-align: center;
}
input:focus {
    outline: none;
    animation: slide ease-in-out 3s infinite;    
}
@keyframes slide {
    0% {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 0%;
        border-color: red;
    }
    25% {
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 100%;
        border-color: pink;
    }
    50% {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 0%;
        border-color: red;
    }
    75% {
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 100%;
        border-color: pink;
    }
    100% {
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 0%;
        border-color: red;
    }
    
    
}