a {
  text-decoration: none;
}
a:hover {
 
}
.navbar {
    display: flex;
    height: 5vw;
    justify-content: center;
    background-color: rgb(255, 238, 251);
    width: 100%;
    border-bottom: 0.1vw solid black;
  }
  .navbar__register{
    border-radius: 50% 0 50% 0;
    border:  0.2vw solid rgb(243, 148, 40);
    background-color: rgba(252, 163, 63, 0.664);
    padding: 0.5vw;
    margin-left: auto;
    margin-right: 1vw;
    font-size: 1.5vw;
  }
  .navbar__register:hover{ 
    background-color: rgba(252, 164, 63, 0.267);
  }

  .navbar__login {
    border-radius: 50% 0 50% 0;
    border:  0.2vw solid rgb(243, 148, 40);
    background-color: rgba(252, 163, 63, 0.664);
    padding: 0.5vw;
    margin-right: 1vw;
    font-size: 1.5vw;
  }
  .navbar__login:hover{ 
    background-color: rgba(252, 164, 63, 0.267);
  }
  .navbar__name{
    border-radius: 50% 0 50% 0;
    border:  0.2vw solid rgb(243, 148, 40);
    background-color: rgba(252, 163, 63, 0.664);
    padding: 0.5vw;
    margin-left: auto;
    margin-right: 1vw;
    padding: 0.8vw;
    font-size: 1.5vw;
  }
  .navbar__name:hover {
    background-color: rgba(252, 164, 63, 0.267);
  }
  .navbar__logout{
    padding: 0.8vw;
    border-radius: 50% 0 50% 0;
    border:  0.2vw solid rgb(243, 148, 40);
    background-color: rgba(252, 163, 63, 0.664);
    margin-right: 1vw;
    font-size: 1.5vw;
  }
  .navbar__logout:hover {
    background-color: rgba(252, 164, 63, 0.267);
  }
  .navbar__main{
    padding: 0.8vw;
    border-radius: 50% 0 50% 0;
    border:  0.2vw solid rgb(243, 148, 40);
    background-color: rgba(252, 163, 63, 0.664);
    margin-right: 1vw;
    font-size: 1.5vw;
  }
  .navbar__main:hover {
    background-color: rgba(252, 164, 63, 0.267);
  }
  .container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .navbar__logo {
    background-image: url(../../assets/img/logo-navbar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0.5vw 1vw 0.5vw 0.5vw;
    margin-left: 3vh;
    display: flex;
    height: 5vw;
    width: 19%;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      display: flex;
      height: 10vw;
      justify-content: center;
      background-color: rgb(255, 238, 251);
      width: 100%;
      border-bottom: 0.1vw solid black;
    }
  
    .navbar__register{
      margin-left: auto;
      margin-right: 1vw;
      font-size: 3vw;
      padding: 0.8vw;
    }
    .navbar__login {
      margin-right: 1vw;
      font-size: 3vw;
      padding: 0.8vw;
    }
    .navbar__logo {
      background-image: url(../../assets/img/logo-navbar.png);
      margin-left: 3vh;
      display: flex;
      height: 10vw;
      width: 37%;
    }
    .navbar__name{
      margin-left: auto;
      margin-right: 1vw;
      font-size: 2.3vw;
      padding: 1vw;
    }
    .navbar__logout{
      margin-right: 1vw;
      font-size: 2.3vw;
      padding: 1vw;
    }
    .navbar__main{
      margin-right: 1vw;
      font-size: 2.3vw;
      padding: 1vw;
    }
  }
  @media screen and (max-width: 560px) {
    .navbar {
      height: 16vw;
    }
    .navbar__register{
      margin-right: 2vw;
      font-size: 5vw;
      padding: 1.3vw;
    }
    .navbar__login {
      margin-right: 2vw;
      font-size: 5vw;
      padding: 1.3vw;
    }
    .navbar__logo {
      background-image: url(../../assets/img/logo-navbar-alt.png);
      margin-left: 3vh;
      display: flex;
      height: 15vw;
      width: 13%;
    }
    .navbar__name{
      margin-right: 1.5vw;
      font-size: 3vw;
      padding: 1.5vw;
    }
    .navbar__logout{
      margin-right: 1.5vw;
      font-size: 3vw;
      padding: 1.5vw;
    }
    .navbar__main{
      margin-right: 1.5vw;
      font-size: 3vw;
      padding: 1.5vw;
    }
  }
  
  @media screen and (max-width: 425px) {
  
  
  
  }